################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SupplierPortal.Web/node_modules/.dotnet/serenity.corelib/dist/index.d.ts
/SupplierPortal.Web/node_modules/.dotnet/serenity.corelib/dist/index.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.corelib/package.json
/SupplierPortal.Web/node_modules/.dotnet/serenity.demo.northwind/dist/index.d.ts
/SupplierPortal.Web/node_modules/.dotnet/serenity.demo.northwind/dist/index.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.demo.northwind/dist/index.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.demo.northwind/package.json
/SupplierPortal.Web/node_modules/.dotnet/serenity.extensions/dist/index.d.ts
/SupplierPortal.Web/node_modules/.dotnet/serenity.extensions/dist/index.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.extensions/dist/index.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.extensions/package.json
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/layouts/slick.frozenlayout.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/layouts/slick.frozenlayout.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/layouts/slick.frozenlayout.min.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/layouts/slick.frozenlayout.min.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.core.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.core.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.core.min.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.core.min.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.editors.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.editors.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.editors.min.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.editors.min.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.formatters.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.formatters.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.formatters.min.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.formatters.min.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.grid.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.grid.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.grid.min.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.grid.min.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.groupitemmetadataprovider.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.groupitemmetadataprovider.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.groupitemmetadataprovider.min.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/slick.groupitemmetadataprovider.min.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/index.d.ts
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/index.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/index.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.autotooltips.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.autotooltips.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.autotooltips.min.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.autotooltips.min.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.rowmovemanager.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.rowmovemanager.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.rowmovemanager.min.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.rowmovemanager.min.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.rowselectionmodel.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.rowselectionmodel.js.map
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.rowselectionmodel.min.js
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/dist/compat/plugins/slick.rowselectionmodel.min.js.map
/SupplierPortal.Web/obj/project.assets.json
/SupplierPortal.Web/obj/project.nuget.cache
/SupplierPortal.Web/obj/SupplierPortal.Web.csproj.nuget.dgspec.json
/SupplierPortal.Web/obj/SupplierPortal.Web.csproj.nuget.g.props
/SupplierPortal.Web/obj/Debug/net8.0/SupplierPortal.Web.AssemblyInfo.cs
/SupplierPortal.Web/obj/Debug/net8.0/SupplierPortal.Web.AssemblyInfoInputs.cache
/SupplierPortal.Web/obj/Debug/net8.0/SupplierPortal.Web.assets.cache
/SupplierPortal.Web/obj/Debug/net8.0/SupplierPortal.Web.csproj.AssemblyReference.cache
/SupplierPortal.Web/obj/Debug/net8.0/SupplierPortal.Web.GeneratedMSBuildEditorConfig.editorconfig
/SupplierPortal.Web/package.json
/SupplierPortal.Web/node_modules/.dotnet/serenity.sleekgrid/package.json
